{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <div class="container">
    <div class="row">
    <h3>{{ instruction_header }}</h3>
    <br>
    <ul>
    {%  for item in content_items %}
        <li><h4>{{ item }}</h4</li>
    {% endfor %}
    </ul>
    </div>
    </div>

    <div class="container">
    <div class="row">
    {% for image in images %}
        <div class="col-md-4">
        <figure>
            <img src="static/images/{{ image[0]}}" style="width:height:200px;">
            <figcaption>{{ image[1]}}</figcaption>
        </figure>
        </div>
    {% endfor %}
    </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <br>
    <br>
    {% if obscure_form is not defined %}
    <div class="container">
        {{ wtf.quick_form(form) }}
    </div>
    {%  endif %}
{% endblock %}
