{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <h3> {{ main_message }}</h3>
    <h4> {{ secondary_message}} </h4>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
