{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container">
    <h3> {{ main_message }}</h3>
    <textarea readonly rows="4" cols="100">
    {{ secondary_message }}
    </textarea>
    </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
